/*Css Général*/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px ;
    margin: 0px;
    padding: 0px 50px 0px 50px;
}

h1{
    size: 22px;
}

h2{
    size: 18px;
}

h3{
    size: 17px;
}

h4{
    size: 16px;
    font-weight: 400;
}

h5{
    size: 15px;
    font-weight: 400;
}


/*Css header*/
.header_contenair {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.logo {
    display: flex; 
    justify-content: left;
    align-items: center;
    height: 79px;  
    padding: 30px 50px 30px 50px;
    gap: 10px; 
}

.logo_booki {
    width: 61.1px; 
    height: 19px;  
}

.nav_bar {
    display: flex;
    justify-content: right;
    width: 344px; 
    height: 35px; 
    gap: 68px;   
}

ul {
    list-style-type: none;
}

.nav_link {
    text-decoration: none;
    background: none;
    border: none;
}

.nav_link:hover {
    text-decoration: overline #0065FC;
    color: #0065FC;
}

/*Css Main*/

.main_contenair{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
    padding: 0px, 50px, 0px, 50px;
    gap: 30px;  
}

/*Css section_1*/

.section_1{
    display: flex;
    flex-direction: column;
    width: 100%;  
    height: 281px; 
    gap: 35px; 
}

.section_1_title{
    box-sizing: border-box;
    width: 93%; /*1340px*/
    height: 53px; 
}

.research_bar{
    display: flex;
    width:  375px;
    height:  49px; 
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    gap: 24px ;
}

.icon_map{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2;
    width: 50px; 
    height: 49px; 
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;     
}

.form {
    display: flex;   
}

.saisie{
    border: none;
    width: 178px;
    height: 44px;
    margin-top: 2px;
}

.icon_loupe {
    visibility: hidden;
    width: 0.001px;
    height: 0.001px;
}

.research_button {
    background-color:#0065FC ;
    color: white;
    width: 132px;
    height: 49px; 
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    padding: 15px 16px 15px 16px; 
    gap: 10px;
}

.filter{
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter_bar {
    display: flex;
    align-items: center;
    width: 100%; 
    height: 50px;
    gap: 15px;
}

.filter_bar_1, .filter_bar_2 {
    display: flex;
    height: 50px;
    gap: 15px;
}

.filter_button {
    display: flex; 
    align-items: center;
    width:auto;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.icon_filter{
    color: #0065FC;
    width: 22px;
    height: 22px;
    top: 1px;
    left: 2.5px;
}

.filter_button_title{ 
    font-size: 17px;
    background: none;
    border: none;
}

.filter_button:hover {
    background-color: #DEEBFF;
}

.icon_info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border: 1px solid #D9D9D9;
    border-radius: 25px ;  
}

.section_1_title_2 {
    display: flex;
    align-items: center;
    width: 100%; /* 1340px*/
    height: 24px;
    gap: 10px;
}

.section_1_title_2 h4{
    margin: 0px;
}

/*Css section_2*/
.section_2 {
    display: flex;
    width: 100%;  
    height: 614px;
    gap: 40px;
}

.section_left {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2 ;
    box-sizing: border-box;
    width: 65% ;  /*871px*/
    height: 614px ;
    padding: 30px;
    border-radius:15px ;
    gap: 30px;
}

.section_left h1,h2 {
    margin: 0px;
}

.ligne_hebergement{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 207.25px;
    gap: 30px;
}

.card_left{
    display: flex;
    flex-direction: column;
    background: white;
    box-sizing: border-box;
    width: 250.3px; /*250.3px*/
    height: 207.25px; /*207.25px*/
    border-radius: 20px;
    filter: drop-shadow( 0px 3px 5px #0000001A); 
    border: 5px solid white;   
    gap: 4px;   
}

.img_hebergement_left {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.card_container_left{
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 64.25px;
    padding-left: 10px;
    gap: 8px ;
}

.hotel_name {
    margin: 0px;
}

.hotel_price {
    margin: 0px;
}

.hotel_note {
    height: 13.25px;
    margin: 0px;
}

.star_full{
    color: #0065FC;
}

.star_empty{
    color: #F2F2F2; 
}

.section_right {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2 ;
    box-sizing: border-box;
    width: 32%; /*429px*/
    height: 614px; 
    padding: 30px;
    border-radius: 15px;
    gap: 30px; 
}

.section_right_title {
    display: flex;
    align-items: center;
    height: 26px;
    justify-content: space-between;
}

.icon_graph {
    color: #0065FC;
}

.ligne_populaires {
    display: flex;
    flex-direction: column;
    width: 100%; /*429px*/
    height: 498px;
    gap: 30px;
}

.card_right{
    display: flex;
    background: white;
    box-sizing: border-box;
    width: 100%; /*429px*/
    height: 146px; 
    border-radius: 20px ;  
    border: 5px solid white;
    filter: drop-shadow( 0px 3px 5px #0000001A);  
}

.img_hebergement_right{
    width: 33.3%; 
    height: 136px ; 
    border-radius: 20px 0px 0px 20px;
}

.card_container_right{  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66.6%;
    padding: 10px 5px 5px 15px;
    gap: 24px;
}

.hotel_infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hotel_infos h4,p {
    margin:0px;
}

.note_pop {
    display: flex;
    box-sizing: content-box;
    justify-content: baseline;
}

/*Css section_3 */

.section_3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 560px;
    padding: 30px;
    gap: 30px; 
}

.title_activites{
    margin: 0px;
    padding-left: 30px;
}

.ligne_activites{
    display: flex;
    flex-direction: row;
    gap: 30px;    
    padding: 30px;
}
.card_activites{
    display: flex;
    flex-direction: column;
    background: white;
    width: 23.25%; /* 297.5px */
    height: 439px;
    border-radius: 20px;
    filter: drop-shadow( 0px 3px 5px #0000001A);
}

.img_activites{
    width: 100% ;
    height: 380px;
    border-radius: 20px 20px 0px 0px;  
 }

 .card_activites_title {
    height: 59;
    margin: 0px;
    padding: 20px 19px 20px 19px ;
    border-radius: 0px 0px 20px 20px;
    gap: 10px;
 }

/*Css footer*/
.footer_container {
    display: flex;
    background-color: #F2F2F2;
    box-sizing: border-box;
    width: 100%;
}

.footer_list {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 33.3% ; /*447px*/
    padding: 20px; 
    gap: 15px ;
}

.footer_list h4 {
    margin: 0px;
}


/*Css Responsive tablette */

@media screen and (min-width: 769px ) and (max-width: 1023px){
    body{
        width: 1023; 
    }

    .header_contenair {
        width: 100%;
    }

    .logo {
        width: 161PX;
    }

    .main_contenair{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0px 50px 0px 50px;
    }

    .section_2 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .section_left{
        width: 100%;
        height: auto;
    }

    .section_right{
        width: 100%; 
        height: auto;
    }

    .card_left{
        width: 100%;
    }

    .ligne_populaires{
        flex-direction: row;
        height: auto; 
    }

    .card_right {
        width: 270px;
    }

    .section_3 {
        height: auto;
    }

    .ligne_activites {
        height: auto;
    }

    .card_activites{
        width: 100%;
        height: 270px;
    }

    .img_activites {
        height: auto;
    }

    .footer_container{
        width: 93%;
    }
}

/*Css Responsive smartphone*/

@media screen and (max-width: 768px ){

    body{
        width: 100%;
        padding: 0;
    }

    .header_contenair{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        justify-content: center;
    }

    .nav_bar{
        width: 375px;
        gap: 15px;
        margin: 0px;
        padding: 0px;
    }

    .nav_link {
        width: 187.5px;
        justify-content: space-between;
        align-items: center;
    }

    .main_contenair{
        flex-direction: column;
    }

    .section_1 {
        flex-direction: column;
        width: 93%;
        height: auto;
    }

    .section_1_title {
        width: 100%;
        height: auto;
    }

    .research_bar{
        width: 100%;
        height: auto;
    }

    .research_button{
        visibility: hidden;
        width: 0.001px;
        height: 0.001px;
    }

    .loupe{
        display: flex;
        background-color:#0065FC;    
        justify-content: center;
        align-items:  center;
        width: 55px; 
        height: 49px; 
        border-radius: 15px;
        border: 1px solid #0065FC;
    }

    .icon_loupe {
        visibility: visible;
        width: 17px;
        height: 17px;
        color: white;
    }

    .filter{
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: auto;
    }

    .filter h3{
        margin: 0px;
    }

    .filter_bar{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .filter_bar_1, .filter_bar_2 {
        width: 100%;
    }

    .filter_button {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 0px;
    }

    .section_1_title_2{
        width: 100%;
        height: auto;
    }
    
    .section_2 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
 
    .section_left{
        background-color: white;
        width: 93%;
        height: auto;
        order: 2;
        padding: 0px;
    }
    
    .ligne_hebergement{
        flex-direction: column; 
        align-items: center;
        height: 100%;
    }

    .card_left{
        width: 93%;
        height: auto;
    }

    .img_hebergement_left{
        width: 100%;
    }

    .section_right{   
        width: 100%; 
        height: auto;
        order: 1;
    }

    .ligne_populaires{
        flex-direction: column;
    }

    .card_right {
        width: 100%;
    }

    .section_3{
        height: auto;
    }

    .ligne_activites {
        flex-direction: column;
        height: auto;
    }

    .card_activites{
        width: 100%;
       height: 200px;
    }

    .img_activites {
        height: 141px;
    }

    .footer_container {
        flex-direction: column;

    }

    .footer_list{
        width: 100%;
    }
}