/*Css Général*/
* {
    font-family: 'Raleway', sans-serif;
    
}

body {
    margin: 0px 50px 0px 50px ;
}
h1{
    size: 22px;
}
h2{
    size: 18px;
}
h3{
    size: 17px;
}
h4{
    size: 16px;
}
h5{
    size: 15px;
}
/*Css header*/
.header_contenair {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_booki {
    width: 61px;
    height: 19px;
    
}

.nav_bar {
    display: flex;
    gap: 68px ;
    padding: 0px 50px 0px 50px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: overline #0065FC;
}

/*Css Main*/
.main_contenair {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.section_1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.research_bar{
    display: flex;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    gap: 24px ;
}

.icon_map{
    display: flex;
    background-color:#F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    justify-content: center;
    align-items: center;
      
}

.saisie{
    border: none;
    width: 147px;
    height: 21px;
    gap: 24px;
    
}

.reserach_button {
    background-color:#0065FC ;
    color: white;
    width: 132px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    padding: 15px 16px 15px 16px; 
    gap: 10px;
}

.filtres_bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtres_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.filtres_icon{
    color: #0065FC;
    width: 18px;
    height: 20.08px;
    top: 1px;
    left: 2.5px;
}

.button_filtres{
    background: none;
    border: none;
}

.section_1_title_2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon_info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 25px ;
    
}
.section_2 {
    display: flex;
    gap: 30px;
}

.section_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2 ;
    width: 871px ;
    height: 614px ;
    border-radius:15px ;
    padding: 30px;
    gap: 30px;
}

.card_hebergement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.img_hebergement_left {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px;
}
.card_left{
    display: flex;
    flex-direction: column;
    width: 250.33px;
    height: 207.25px;
    border-radius: 20px;
    padding: 0px 0px 15px 0px;
    gap: 4px;   
}

.section_right {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2 ;
    width: 429px;
    height: 614px;
    border-radius: 15px;
    padding: 30px;
    gap: 30px;
    
}

.card_populaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.img_hebergement_right{
    width: 123px;
    height: 146px;
    border-radius: 20px 0px 0px 20px;
    border: 5px 0px 5px 5px;

}
.section_right_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-solid{
    color:#0065FC;
    width: 18px;
    height: 15.75px;
}

/*Css footer*/
.footer {
    display: flex;
}
