/*Css Général*/
* {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px ;
    max-height: 1889.02px;
}


h1{
    size: 22px;
}
h2{
    size: 18px;
}
h3{
    size: 17px;
}
h4{
    size: 16px;
}
h5{
    size: 15px;
}

body{
    width: 1,440px;
    height: 1,722.02px;
    padding: 0px, 50px, 0px, 50px;
    gap: 35px;

}
/*Css header*/
.header_contenair {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 79px ;
}

.logo {
    width: 161px;
    height: 79px;
    padding: 30px 50px 30px 50px;
    gap: 10px; 
}

.logo_booki {
    width: 61.09px;
    height: 19px;
}

.nav_bar {
    display: flex;
    justify-content: right;
    width: 344px;
    height: 35px;
    left: 1096px;
    padding: 0px 50px 0px 50px; 
    gap: 68px;
}

ul {
    list-style-type: none;
}

.nav_link {
    text-decoration: none;
}

.nav_link:hover {
    text-decoration: overline #0065FC;
}

/*Css Main*/


.section_1{
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 281px;
    gap: 35px;
}

.section_1_title{
    width: 1340px;
    height: 53px;
    gap:8px;
}
.research_bar{
    display: flex;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    gap: 24px ;
}

.icon_map{
    display: flex;
    background-color:#F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    justify-content: center;
    align-items: center;
      
}

.saisie{
    border: none;
    width: 147px;
    height: 21px;
    gap: 24px;
    
}

.reserach_button {
    background-color:#0065FC ;
    color: white;
    width: 132px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    padding: 15px 16px 15px 16px; 
    gap: 10px;
}

.filtres_bar {
    display: flex;
    align-items: center;
    width: 758px;
    height: 50px;
    gap: 15px;
}

.filtres_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

.filtres_icon{
    color: #0065FC;
    width: 18px;
    height: 20.08px;
    top: 1px;
    left: 2.5px;
}

.button_filtres{
    background: none;
    border: none;
}

.section_1_title_2 {
    display: flex;
    align-items: center;
    width: 1340px;
    height: 24px;
    gap: 10px;
}

.icon_info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 25px ;
    
}
.section_2 {
    display: flex;
    width: 1340px;
    height: 614px;
    gap: 40px;
}

.section_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2 ;
    width: 871px ;
    height: 614px ;
    border-radius:15px ;
    padding: 30px;
    gap: 30px;
}

.ligne{
    display: flex;
    flex-direction: row;
    width: 811px;
    height: 207.25px;
    gap: 30px;
}
.img_hebergement_left {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}
.card_container_left{
    width: 250.33px;
    height: 64.25px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px; 
    gap: 8px ;
}

.hotel_name {
    margin: 0px 0px 0px 10px;
}

.hotel_price {
    margin: 0px 0px 0px 10px;
}

.hotel_note {
    
    height: 13.25px;
    margin: 0px 0px 0px 10px;
}
.card_left{
    display: flex;
    flex-direction: column;
    background: white;
    border: 5px solid white;
    width: 250.33px;
    height: 207.25px;
    border-radius: 20px;
    filter: drop-shadow( 0px 3px 5px #0000001A);    
    gap: 4px;   
}

.section_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2 ;
    width: 429px;
    height: 614px;
    border-radius: 15px;
    padding: 30px;
    gap: 30px; 
}
.section_right_title {
   width: 369px;
   height: 26px;
}
.card_populaires {
    display: flex;
    flex-direction: column;
    width: 369px;
    height: 498px;
    gap: 30px;

}
.card_right{
    display: flex;
    background: white;
    border: 5px solid white;
    width: 369px;
    height: 146px;
    border-radius: 20px ; 
    filter: drop-shadow( 0px 3px 5px #0000001A);  
}

.img_hebergement_right{
    width: 123px;
    height: 146px;
    border-radius: 20px 0px 0px 20px;
}

.card_container_right{
    width: 246px;
    height: 136px;
    top: 5px;
    left: 123px;
    padding: 10px 5px 5px 15px;
    gap: 24px;
}
.note {
    padding: 60px 0px 0px 10px;
}

.note_spe {
    padding: 40px 0px 0px 10px;
}

.fas{
    color: #0065FC;
}
.section_3{
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 559.02px;
    padding: 30px;
    gap: 30px; 
}
.ligne_activites{
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 439px;
    gap: 30px;
}
.card_activites{
    display: flex;
    flex-direction: column;
    background: white;
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    filter: drop-shadow( 0px 3px 5px #0000001A);
}

.img_activites{
    width: 100% ;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
 }

 .card_activites_title {
    width: 297.5px;
    height:  59px;
    padding: 20px, 19px, 20px, 19px;
    gap: 10px;
    

 }
.fa-solid{
    color:#0065FC;
    width: 18px;
    height: 15.75px;
}

/*Css footer*/
.footer_container {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    width: 1340px;
    height:163px ;
}

.footer_list {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 446.67px;
    height: 163px; 
    padding: 20px; 
    gap: 15px ;
}


